* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100%;
}

h1 {
  font-size: 2.369rem;
  font-weight: 700;

  @media screen and (max-width: 768px) {
    font-size: 1.728rem;
  }
}

h2 {
  font-size: 1.777rem;
  font-weight: 700;

  @media screen and (max-width: 768px) {
    font-size: 1.44rem;
  }
}

h3 {
  font-size: 1.333rem;
  font-weight: 700;

  @media screen and (max-width: 768px) {
    font-size: 1.2rem;
  }
}
