---
import { Image } from "astro:assets";
import Hamburger from "@components/Header/hamburger.astro";
import { concatWithBase } from "@utils/concatWithBase";
---

<header>
  <div class="container">
    <div class="wrapper">
      <h1>
        <a href={concatWithBase()}
          ><Image
            src={concatWithBase("goconference.svg")}
            alt="Go Conference"
            width="234"
            height="40"
          /></a
        >
      </h1>
      <Hamburger id="toggle" />
    </div>
    <nav id="navigation" class="collapsed">
      <ul>
        <li><a href={concatWithBase()}>Home</a></li>
        <li><a href={concatWithBase("sessions")}>Sessions</a></li>
        <li><a href={concatWithBase("#sponsors")}>Sponsors</a></li>
        <li>
          <a
            class="with-icon"
            href="https://drive.google.com/file/d/1jfd7EEWBqSPBpZSnN2GgGnvZhfAarIXG/view"
            target="_blank"
            >Sponsor FAQ<i
              ><Image
                src={concatWithBase("ic_external_link.svg")}
                alt="FAQ External Link"
                width="16"
                height="16"
                color={"#666"}
              /></i
            ></a
          >
        </li>
        <li>
          <a
            class="with-icon"
            href="https://sessionize.com/api/v2/7zlcfd7c/view/GridSmart"
            target="_blank"
            >Timetable<i
              ><Image
                src={concatWithBase("ic_external_link.svg")}
                alt="FAQ External Link"
                width="16"
                height="16"
                color={"#666"}
              /></i
            ></a
          >
        </li>
        <li><a href={concatWithBase("floorguide")}>Floor Guide</a></li>
        <li><a href={concatWithBase("staffs")}>Staffs</a></li>
        <!-- <li><a href="#">English</a></li> -->
      </ul>
    </nav>
  </div>
</header>

<style>
  header {
    background-color: #ebf5fa;
  }
  .container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 8px;
    padding-inline: 16px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;

    @media (max-width: 768px) {
      flex-direction: column;
      padding: 8px 16px;
      gap: 8px;
    }
  }

  .wrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  h1 {
    color: black;
    flex-grow: 1;
  }

  #toggle {
    display: none;
    @media (max-width: 768px) {
      display: block;
    }
  }

  .expanded {
    @media screen and (max-width: 768px) {
      display: block;
      animation: pullDown 0.3s ease;
    }
  }

  .collapsed {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  @keyframes pullDown {
    from {
      transform: translateY(-20%);
    }
    to {
      transform: translateY(0);
    }
  }

  ul {
    list-style: none;

    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 1.3rem;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 16px;
    }
  }

  li {
    text-align: center;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  a.with-icon {
    display: inline-flex;
    align-items: center;
    gap: 8px;
  }

  img {
    vertical-align: middle;
  }
</style>

<script is:inline>
  function handleClick() {
    document.getElementById("navigation").classList.toggle("expanded");
    document.getElementById("navigation").classList.toggle("collapsed");
  }
  document.getElementById("toggle").addEventListener("click", handleClick);
</script>
