---
import { Image } from "astro:assets";
import { getEntry } from "astro:content";

const sponsors = await getEntry("sponsors", "data");
---

<div class="container">
  <h2 class="text-center">Sponsors</h2>
  {
    sponsors.data.map((sponsor) => (
      <div class="row">
        <div class="sponsor">
          <a href={`/sponsors/${sponsor.id}`}>
            <Image
              src={sponsor.image}
              width="320"
              height="240"
              loading="lazy"
              alt={sponsor.name}
            />
          </a>
          {sponsor.name}
        </div>
      </div>
    ))
  }
</div>

<style>
  .container {
    margin-top: 2rem;
  }
  .sponsor a {
    display: block;
  }
  .sponsor img {
    object-fit: contain;
  }
</style>
