---
import BaseLayout from "@layouts/Base.astro";
import Staffs from "@components/Staffs.astro";
---

<BaseLayout title="Staffs">
  <section class="page">
    <header class="page-header">
      <h2 class="page-title">Staffs</h2>
    </header>
    <div class="page-body">
      <Staffs />
    </div>
  </section>
</BaseLayout>

<style>
  .page-header {
    padding: 160px 65px 72px;

    @media screen and (max-width: 1185px) {
      padding-top: 100px;
      padding-bottom: 45px;
    }

    @media screen and (max-width: 768px) {
      padding-top: 40px;
      padding-bottom: 18px;
    }
  }

  .page-title {
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    color: #000;
  }

  .page-body {
    padding: 80px 20px;
    background-color: #ebf5fa;

    @media screen and (max-width: 768px) {
      padding: 32px 16px;
    }
  }
</style>
