---
import { Image } from "astro:assets";
import { concatWithBase } from "../../utils/concatWithBase";
---

<footer class="container">
  <div class="content">
    <div class="box">
      <h3>About</h3>
      <ul>
        <li>
          <a href="mailto:info@gocon.jp"
            ><Image
              src={concatWithBase("ic_mail.svg")}
              alt="mail"
              width="18"
              height="18"
            />info@gocon.jp</a
          >
        </li>
        <li><a href="https://go.dev/conduct">Code of Conduct</a></li>
        <li>
          <a
            href="https://drive.google.com/file/d/1Xon1uyLT-810sxnkLMngmL67z68K3XJG/view"
            >特定商取引法に基づく表記</a
          >
        </li>
      </ul>
    </div>
    <div class="box">
      <h3>Past Conferences</h3>
      <ul>
        <li><a href="https://gocon.jp/2023">2023</a></li>
        <li><a href="https://gocon.jp/2022spring">2022 Spring</a></li>
        <li><a href="https://gocon.jp/2021autumn">2021 Autumn</a></li>
      </ul>
    </div>
  </div>
  <hr />
  <div class="bottom">
    <a href="https://twitter.com/hashtag/gocon">
      <Image
        src={concatWithBase("ic_x.svg")}
        width={18}
        height={18}
        alt="X/Twitter"
      /> #gocon
    </a>
    <div class="credit">
      <p>Go Conference</p>
      <small>
        The Go gopher was designed by <a href="http://reneefrench.blogspot.com/"
          >Renée French</a
        >.
      </small>
    </div>
  </div>
</footer>

<style>
  .container {
    background-color: #f5f5f5;
    color: #222;
  }

  .content {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    padding: 32px;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 24px;
      padding: 16px;
    }
  }

  .box {
    display: flex;
    width: calc(100% / 2);
    flex-direction: column;
    gap: 16px;

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  .box ul {
    list-style: none;
  }

  .box ul > *:not(:last-child) {
    margin-bottom: 8px;
  }

  a {
    color: #000;
    display: inline-flex;
    align-items: center;
    gap: 1ch;
  }

  hr {
    border-top: 1px solid #ddd;
  }

  .bottom {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 16px 32px;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 8px;
      padding: 16px;
    }
  }

  .credit {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #666;
  }
</style>
